footer {
   position:absolute;
   bottom:0;
   width:100%;
}
footer a {
    color: #E63B3B;
}
a {
    color: black;
}
.pokedex-footer {
    justify-content: center;
    align-content: space-between;
    display: flex;
    font-family: 'Poppins' ;
    color: #E63B3B;
    list-style: none;
    padding: 10px;
 
}
.pokedex-footer li:hover {
    cursor:pointer;
    color: rgb(247, 239, 228);
 
}

.pokedex-footer li {
    margin-left: 10px;

}