@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');
.images-button {
    display: flex;
    width: 30px;
    align-content: center;
}
.splash-screen-pokedex {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins' ;
    font-weight: 'Regular';
    color: black;
}
.pokedex-logo {
    color: #D2B44B;
    text-shadow: 2px 2px 2px rgb(0, 0, 0); 
    font-size: 48px;

}
.acess-button {
    border: 0;
    margin-top: 10vh;
    padding: 0.5vh 1vw;
    border-radius: 5px;
    font-size: 9px;
    background: #DEC054;
}
.acess-button:hover {
    cursor: pointer;
    background: #ebc745;
    box-shadow: 0 2px 2px;
}
